.App {
  text-align: center;
}

/* Genel scrollbar ayarları */
::-webkit-scrollbar {
  width: 8px;
}

/* Yatay scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar arka plan rengi */
  border-radius: 8px; /* Scrollbar kenar yuvarlama */
}

/* Yatay scrollbar için dolgu rengi */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar dolgu rengi */
  border-radius: 8px; /* Scrollbar kenar yuvarlama */
}

/* Yatay scrollbar üzerine gelindiğinde */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar üzerine gelindiğindeki dolgu rengi */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  font-family: "Roboto", sans-serif; /* Örnek olarak Roboto fontunu kullandık */
  background-color: #f8f7fa;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR STYLE*/
.navbar {
  background-color: #ffffff;
  width: 100%;
  padding: 5px;
  display: flex !important;
  justify-content: space-between;
  align-items: center !important ;
  text-align: center !important;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.navbar-button {
  border-radius: 50%;
  min-width: 0;
  width: 3rem;
  height: 3rem;
  padding: 0;
  box-shadow: none;
}

.navbar-button:hover {
  background-color: rgba(126, 126, 126, 0.5);
}

/* NAVBAR STYLE*/

/*HOMEPAGE GRİDS*/
.homePageGrids {
  margin-right: 100px;
}

/*HOMEPAGE GRİDS*/

/* GRID AREA*/
.grid-area {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 10px;
  display: "flex" !important;
}

/* GRID AREA*/

/*DATEPICKER BUTTON*/
.date-button {
  background-color: #d6e9f3 !important;
  color: #1ea2f2 !important;
  text-transform: none !important;
}
.date-button:hover {
  background-color: #e2ecf1 !important;
  color: #120996 !important;
}
/*DATEPICKER BUTTON*/

/*ADMIN BUTTON*/
.admin-button {
  background-color: #d6e9f3 !important;
  color: #1ea2f2 !important;
  text-transform: none !important;
}
.admin-button:hover {
  /* background-color: #e2ecf1 !important; */
  color: #2628be !important;
}
/*ADMIN BUTTON*/

/*LİSTE TANIMLAMASI SİDEBAR*/
.selected-menu-item {
  background-color: #a51616 !important;
  border-radius: 8px !important;
  color: white !important;
}

.selected-menu-item .MuiListItemText-primary,
.selected-menu-item .MuiListItemIcon-root {
  color: white !important;
}

.unselected-menu-item {
  position: relative;
  overflow: hidden;
  height: 3rem;
  border-radius: 8px;
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.unselected-menu-item:hover::before {
  transform: scaleX(1);
}

.unselected-menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: 8px;
  background-color: rgba(165, 22, 22, 0.2) !important;
  transition: all 0.475s;
}
